/* Styles go here */

@page {
  size: 1210px 900px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  padding-inline-start: 1em;
}

body {
  font-family: 'Roboto', sans-serif;
}

.remark-slide-content {
  padding: 3em 2em 1em 2em;
  vertical-align: middle;
  /* default middle class */
}

h1,
h2,
h3,
ul {
  font-weight: normal;
  margin-bottom: 1em;
}

h3 {
  font-size: 24px !important;
}

h1 {
  font-size: 48px !important;
}

h2 {
  font-size: 36px !important;
}

li {
  font-size: 24px !important;
  line-height: 2em;
}

li li {
  line-height: 1.5em;
}

.blue {
  background: linear-gradient(#4BB4D2, #AFC4DF)
}

/* icons */

.center.icon img {
  width: 400px;
}

.top.icon img {
  width: 100px;
  position: absolute;
  top: 1em;
  left: 20px;
}

/* sound check */

/* .sound-top { padding-top: 3em; } */

.sound-bottom {
  bottom: 40px;
  position: absolute;
}

.sound-bottom h2,
.sound-bottom h3 {
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
}

/* title */

.remark-slide-content {
background-size: 100%
}

.remark-slide-content>h1:first-child {
  position: absolute;
  width: 100%;
  top: 1em;
  left: 0;
  vertical-align: middle;
  font-size: 30px !important;
  padding-left: 1em;
  display: inline;
  background-image: url(https://drive.google.com/uc?id=1NgqM8JAQ9UU_C8wRC-G3jtiUhbYFpv2f);
  background-position: center right 2em;
  background-repeat: no-repeat;
  background-size: 100px 24px;
}

.title .top.icon img {
  position: initial;
  float: right;
  padding-right: 1em;
  padding-top: 6px;
}

.remark-slide-content>h1:first-child::after {
  height: 1px;
  background-color: rgb(210, 220, 230);
  content: " ";
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

.remark-slide-content>h1:first-child p {
  display: inline;
}

/* content */

.hidden {
  display: none;
}

.white {
  color: white
}

.black {
  color: black
}

.red {
  color: red
}

.green {
  color: green
}

.blue {
  color: blue
}

blockquote {
  font-style: italic
}

.right-image img {
  float: right;
  width: 400px;
}

/* code */

.remark-inline {
  font-family: 'Consolas';
  font-style: normal;
}

.remark-inline-code {
  font-family: 'Consolas';
  font-size: 28px;
  font-style: normal;
  font-weight: bolder;
}

.left-code {
  float: left;
  width: 400px;
  /* margin-right: 40px; */
}

.long-left-code {
  float: left;
  width: 480px;
  margin-right: 40px;
}

.left-code+ul {
  margin-top: 20px;
}

.right-code {
  float: right;
  width: 400px;
  /* padding-left: 20px; */
}

.remark-code {
  /* height: 400px; */
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  margin: 1rem 0;
  padding: 1em !important;
  border-radius: .28571429rem;
  border: 1px solid rgba(34, 36, 38, .15)
}

.hljs.bash {
  background-color: black;
  color: white;
}

table {
  width: 100%;
}

table img {
  max-width: 118px;
  max-height: 80px;
}

.teachers h3 {
  margin-bottom: initial;
}

.half-image img {
  width: 50%
}

.full-image img {
  width: 100%
}

/* custom slide rules */

#semantic-versioning~table th {
  text-align: left;
}
